:root {
  --primary: #800000; /* Merah maroon */
  --primary-hover: #660000;
  --primary-light: #a52a2a;
  --text-light: #fff;
}

/* Override Bootstrap warna */
.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--text-light);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--primary-hover);
  border-color: var(--primary-hover);
  color: var(--text-light);
}

.navbar,
.sidebar,
.bg-primary {
  background-color: var(--primary) !important;
  color: var(--text-light);
}

.text-primary {
  color: var(--primary) !important;
}

.card-header,
.table thead th {
  background-color: var(--primary);
  color: var(--text-light);
}

.sidebar .nav-link {
  white-space: normal !important;
  word-break: break-word;
  line-height: 1.2;
  font-size: 14px;
}
/* Agar item submenu wrap dan tidak memanjang */
.collapse-inner .collapse-item {
  white-space: normal !important;
  word-break: break-word;
  line-height: 1.3;
  font-size: 14px;
}
.sidebar .collapse-item span {
  display: inline-block;
  white-space: normal;
}
